body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    position: relative;
}

.container {
    width: 100%;
    display: inline-block;
    background-color: bisque;
    color: #fff;
}

/* header */

header.container {
    background-color: #18181B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header-left{
    display: flex;
    gap: 25px;
}

.logo {
    float: left;
    margin-left: 10px;
}

.header-left > a > img {
    height: 25px;
    object-fit: contain;
    float: left;
}

.browse,
.fa-ellipsis-v
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 1.25em;
}

.search{
    width: 25%;
    background-color: #3D3D40;
    font-size: 13px;
    border-radius: 10px;
}

.search > div {
    padding: 0.5em;
    line-height: 1.25em;
    float: left;
    color: #878788;
}

.search > div:last-of-type {
    display: none;
    width: 1.5em;
}

.search > a.fa-search {
    float: right;
    padding: 0.25em;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    background-color: #2A2A2D;
    border-left: 2px solid #18181B;
    border-radius: 0 10px 10px 0;
    margin-right: -1px;
}

.header-right {
    display: flex;
    gap: 5px;
    font-size: 20px;
    line-height: 1.25em;
    align-items: center;
}

.header-right > .fa-ship, 
.header-right > .fa-user{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.login {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background-color: #2A2A2D;
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
}
.mini {
    display: none;
}

.sign-up{
    background-color: #9147FF;
}

@media (max-width: 640px) {
    .browse,
    .search > div:first-of-type,
    .login{
        display: none;
    }
    .search{
        width: auto;
    }
    .mini,
    .search > div:last-of-type {
        display: inline-block;
    }
}

@media (max-width: 360px) {
    .search,
    .mini{
        display: none;
    }
}
/* left column */

.left-column{
    width: 20%;
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1F1F23;
}

.left-column > section{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.25em;
}

.left-column .fa-arrow-left{
    color: #fff;
    text-decoration: none;
    float: right;
}

.left-column .fa-video-camera{
    color: #fff;
    text-decoration: none;
    display: none;
    height: 40px;
    line-height: 40px;
}

.left-profile-box{
    width: 100%;
}

.prof-pic{
    float: left;
    height: 40px;
    width: 40px;
}

.prof-text {
    float: left;
}

.prof-name,
.prof-game{
    font-size: 20px;
    line-height: 1em;
    color: #fff;
}

.prof-game{
    color: #3D3D40;
}

.prof-num{
    float: right;
    color: #fff;
}

.prof-num::before{
    content: '•';
    color: red;
}

@media (max-width: 1200px) {
    .left-column .fa-video-camera {
        display: block;
    }
    .left-column > section,
    .prof-text,
    .prof-num {
        display: none;
    }
    .left-column {
        width: auto;
        align-items: center;
    }
}

/* right column */

.right-column {
    background-color: burlywood;
}

.top-box {
    background-color: chartreuse;
    display: flex;
}

.nav-left,
.nav-right {
    background-color: brown;
}

.middle-content {
    background-color: rebeccapurple;
}

.bottom-box {
    background-color: darkgreen;
}

.content-bar {
    background-color: cadetblue;
    display: flex;
}

.bar-item {
    background-color: #9147FF;
}

/* footer */

footer.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #9147FF;
    display: inline-block;
}

footer > img {
    height: 40px;
    object-fit: contain;
    float: left;
}

footer > p {
    float: left;
    font-size: 20px;
    line-height: 1.25em;
}

footer > a.btn {
    color: #000;
    background-color: #fff;
}